@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
	margin: 0;
}

#MainContainer {
	background-color: hsl(0, 0%, 98%);
	padding: 85px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

p {
	margin: 0;
}

h1 {
	font-size: 33px;
}

#TextContent {
	width: 540px;
	text-align: center;
}

#FeatureSectionLabel {
	font-size: 33px;
	font-weight: 200;
	color: hsl(234, 12%, 34%);
}

#FeatureSectionHeading {
	margin: 0;
	color: 	hsl(234, 12%, 34%);
}

#FeatureSectionText {
	margin-top: 12px;
	color: hsl(229, 6%, 66%);
}

.FlexRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.CardContainer {
	display: flex;
}

#CardContainerMiddle {
	margin: 0 30px;
	flex-direction: column;
}

#MainContent {
	width: 1000px;
	margin-top: 60px;
}

.Card {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #fff;
	padding: 30px;
	width: 300px;
	height: 190px;
	border-radius: 5px;
	box-shadow: 0px 9px 18px -6px hsl(229, 6%, 66%);
}

.CardImages {
	position: absolute;
	right: 30px;
	bottom: 30px;
}

.CardHeading {
	margin: 0;
}

.CardText {
	color: hsl(229, 6%, 66%);
	font-size: 15px;
}

#Supervisor {
	border-top: 5px solid hsl(180, 62%, 55%);
}

#TeamBuilder {
	margin-bottom: 30px;
	border-top: 5px solid hsl(0, 78%, 62%);
}

#Karma {
	border-top: 5px solid hsl(34, 97%, 64%);
}

#Calculator {
	border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (max-width: 1190px) {

	.FlexRow {
	flex-direction: column;
	}

	#Supervisor {
		margin-bottom: 30px;
	}

	#Karma {
		margin-bottom: 30px;
	}

	#TextContent {
		width: auto;
	}

	#MainContainer {
		padding-left: 30px;
		padding-right: 30px;
	}

	#MainContent {
		width: 100%;
	}

}

@media screen and (max-width: 480px) {

	#FeatureSectionLabel {
		font-size: 24px;
	}

	#FeatureSectionHeading {
		font-size: 24px;
	}

	#FeatureSectionText {
		font-size: 15px;
	}

	.Card {
		width: auto;
	}

	#CardContainerMiddle {
		margin: 0;
		flex-direction: column;
	}

}